/* .container{
    display: flex;
    justify-content: center;
    margin: 20px;
    border: 2px solid green;

  } */
  
  .card-lost{
    border: 2px solid blue;
    border-radius: 10px;
    width: 90%;
    height: 25%;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    
  }
  
  ul.a{
    list-style-type: circle;
  }
  
  .card-img{
    padding: 2px;
    width: 20%;
    
  }

  .card-img img{
    border-radius: 10px;
  }
  
  .card-desc{
    width: 50%;
    margin: auto;
    /* border: 2px solid red; */
    
  }